<html>

<head>
    <title>Reset Password</title>
</head>

<body>
    <h1></h1>
    <% var clientId = id %>
    <div style="display: flex; flex: 1; justify-content: center; align-items: center; border: 2px solid black; height: 40%; width: 50%;">
        <form name="form1" method="POST" action="http://192.168.43.23:3002/resetpass?id=<%=id %>">
            <table>
                <tr>
                    <td>New Password: </td>
                    <td><input type="password" name="newpass" required></td>
                </tr>
                <tr>
                    <td>Confirm Password: </td>
                    <td><input type="password" name="confirmpass" required></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Save"></td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>